@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #5f6FFF;
}

::-webkit-scrollbar{
  @apply hidden
}

* {
 @apply border-gray-300;
 font-family: Outfit;
}

